body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color:orange;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.hw{
    width: 50%;
    padding: 2%;
}
.hw img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(207, 16, 16), tomato);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Dream p{
    padding-right: 100px;
}
.ex-head{
    font-size:xx-large;
}
.shadow{
    width: 50%;
    padding: 2%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;

}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#bwd{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#fswd{
    border-left: 7px solid;
    border-color: rgba(247, 120, 97, 0.856);
}
footer{
    text-align: center;
}